@-moz-document url-prefix("view-source:") {
  * {
    font-family: "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    -moz-osx-font-smoothing: grayscale !important;
  }

  *|*:root {
    background: none !important;
  }

  #viewsource {
    font-style: normal !important;
    font-family: "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    font-size: 14px !important;
    line-height: 1em !important;
    background-color: #282828 !important;
    color: #ebdbb2 !important;
    white-space: pre !important;
  }

  pre {
    font-family: "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    font-size: inherit !important;
    font-style: inherit !important;
    color: inherit !important;
    white-space: inherit !important;
    padding-left: 1ch !important;
    margin-left: 6ch !important;
    border-left: 2px solid #504945 !important;
  }

  pre > :first-child {
    padding-right: 1ch !important;
  }

  pre[id]:before,
  span[id]:before {
    width: 6ch !important;
    color: #a89984 !important;
    margin-left: -7ch !important;
  }

  .start-tag,
  .end-tag {
    color: #8ec07c !important;
    font-weight: normal !important;
  }

  .comment {
    color: #928374 !important;
    font-style: normal !important;
  }

  .cdata {
    color: #fe8019 !important;
  }

  .doctype {
    color: #d3869b !important;
    font-style: normal !important;
  }

  .markupdeclaration {
    color: #83a598 !important;
    font-style: normal !important;
  }

  .pi {
    color: #83a598 !important;
    font-style: normal !important;
  }

  .entity {
    color: #fabd2f !important;
  }

  .attribute-name {
    color: #fabd2f !important;
    font-weight: normal !important;
  }

  .attribute-value {
    color: #b8bb26 !important;
  }

  .text {
    color: #ebdbb2 !important;
  }

  .error,
  .error > .start-tag,
  .error > .end-tag,
  .error > .comment,
  .error > .cdata,
  .error > .doctype,
  .error > .pi,
  .error > .entity,
  .error > .attribute-name,
  .error > .attribute-value {
    color: #fb4934 !important;
    font-weight: bold !important;
  }
}

@-moz-document regexp("chrome://browser/content/devtools/**/.*")
{
  * {
    font-family: "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    -moz-osx-font-smoothing: grayscale !important;
  }

  :root {
    --theme-body-font-size: 13px !important;
    --theme-code-font-size: 13px !important;
    --monospace-font-family:
      "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    --body-font-family:
      "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
    font-family: "Rec Mono St.Helens", "Resource Han Rounded CN" !important;
  }

  .devtools-toolbar-title {
    font-size: 14px !important;
  }

  :root.theme-dark {
    --theme-body-background: #282828 !important;
    --theme-sidebar-background: #282828 !important;

    --theme-toolbar-hover: #3c3c3c !important;
    --theme-toolbar-color: #ebdbb2 !important;
    --theme-toolbar-selected-color: #689b6a !important;

    --theme-tab-toolbar-background: #282828 !important;
    --theme-toolbar-background: #282e35 !important;
    --theme-selection-background: #478dad !important;

    --theme-body-color: #ebdbb2 !important;
    --theme-body-color-alt: #bdae93 !important;
    --theme-content-color1: #ebdbb2 !important;
    --theme-content-color2: #d5c4a1 !important;
    --theme-content-color3: #bdae93 !important;

    --theme-highlight-green: #689d6a !important;
    --theme-highlight-blue: #83a598 !important;
    --theme-highlight-bluegrey: #458588 !important;
    --theme-highlight-lightorange: #d65d0e !important;
    --theme-highlight-orange: #b8bb26 !important;
    --theme-highlight-red: #fb4934 !important;
    --theme-highlight-pink: #d3869b !important;
    --theme-highlight-yellow: #d79921 !important;
    --theme-highlight-purple: #b16286 !important;
  }

  .devtools-button[data-standalone] {
    font-family: var(--monospace-font-family);
  }

  html|button,
  html|select,
  html|input {
    font-family: var(--body-font-family);
  }

  .tree-widget-item[level="1"] {
  }

  .toolbox-tabs,
  .table-widget-empty-text {
    font-size: medium !important;
  }

  .devtools-responsive-container {
    font-size: small !important;
  }

  .source-header,
  .source-outline-tabs,
  .command-bar {
    background-color: var(--theme-body-background);
  }

  .network-monitor .http-custom-request-panel textarea {
    color: var(--theme-content-color2) !important;
    font-family: var(--monospace-font-family);
  }

  .CodeMirror {
    font-family: var(--monospace-font-family);
  }

  .devtools-tab-label {
    color: var(--theme-body-color) !important;
    font-size: 14px !important;
  }
}

/* This is a temporal solution for white flash, which is a well-known bug in Firefox. */
html {
  background: #282828;
}

@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
  body {
    background-color: #282828 !important;
  }
}
