* {
    font-family: "Ubuntu", "Microsoft Yahei UI" !important;
    font-size: 15px !important;
}

:root {
    --mtheme-background-1: #121212 !important;
    --mtheme-background-2: #232323 !important;
    --mtheme-foreground-1: #CCCCCC !important;
    --mtheme-foreground-2: #666666 !important;
}

#mainPopupSet menupopup {
    --panel-padding: 0 !important;
}

#context-navigation:not([hidden]) {
    padding: 0 !important;
}

#mainPopupSet menuseparator {
    appearance: none !important;
    border-top: 1px solid var(--mtheme-background-2) !important;
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

#mainPopupSet menuitem,
#mainPopupSet .menu-iconic-icon,
#mainPopupSet menu {
    color: var(--mtheme-foreground-1) !important;
    background: var(--mtheme-background-1) !important
}

#mainPopupSet menuitem:hover,
#mainPopupSet .menu-iconic-icon:hover,
#mainPopupSet menu:hover {
    background: var(--mtheme-background-2) !important
}