@-moz-document url-prefix("view-source:") {
    *|*:root {
        background: none !important;
    }

    #viewsource {
        font-style: normal !important;
        font-family: "Fira Code", "JetBrains Mono", "Cascadia Code", "Micrsoft YaHei UI" !important;
        font-size: 12px !important;
        line-height: 1.2em;
        font-weight: normal !important;
        background-color: #121212;
        color: #ebdbb2 !important;
    }

    pre[id]:before,
    span[id]:before {
        width: 6ch !important;
        color: #ebdbb2 !important;
        margin-left: -7ch !important;
    }

    pre {
        padding-left: 1ch;
        margin-left: 6ch !important;
        border-left: 2px solid #282828;
    }

    pre> :first-child {
        padding-right: 1ch;
    }

    .highlight {
        font-weight: normal !important;
    }

    .highlight .start-tag {
        color: #98971a !important;
        font-weight: normal !important;
    }

    .highlight .end-tag {
        color: #98971a !important;
        font-weight: normal !important;
    }

    .highlight .comment {
        color: #689d6a !important;
        font-weight: normal !important;
    }

    .highlight .cdata {
        color: #d65d0e !important;
        font-weight: normal !important;
    }

    .highlight .doctype {
        color: #458588 !important;
        font-weight: normal !important;
    }

    .highlight .pi {
        color: #83a598 !important;
        font-weight: normal !important;
    }

    .highlight .entity {
        color: #fe8019 !important;
        font-weight: normal !important;
    }

    .highlight .attribute-name {
        color: #93a1a1 !important;
        font-weight: normal !important;
    }

    .highlight .attribute-value {
        color: #83a598 !important;
        font-weight: normal !important;
    }

    .highlight .markupdeclaration {
        color: #b8bb26 !important;
        font-weight: normal !important;
    }

    .highlight .error,
    .highlight .error> :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
        color: #fb4934 !important;
        font-weight: normal !important;
    }
}

@-moz-document regexp("chrome://browser/content/devtools/**/.*") {
    :root {
        --theme-code-font-size: 12px !important;
        --theme-body-font-size: 12px !important;
        --monospace-font-family: "Fira Code", "Cascadia Code", "Ubuntu", "Microsoft Yahei UI" !important;
        font-family: "Ubuntu", "Microsoft Yahei UI" !important;
        font-size: 15px;
    }

    :root.theme-dark {
        --theme-body-background: #121212 !important;
        --theme-sidebar-background: #101416 !important;

        --theme-tab-toolbar-background: #161A1E !important;
        --theme-toolbar-background: #282E35 !important;
        --theme-selection-background: #478DAD !important;

        --theme-body-color: #ebdbb2 !important;
        --theme-body-color-alt: #bdae93 !important;
        --theme-content-color1: #ebdbb2 !important;
        --theme-content-color2: #d5c4a1 !important;
        --theme-content-color3: #bdae93 !important;

        --theme-highlight-green: #689d6a !important;
        --theme-highlight-blue: #83a598 !important;
        --theme-highlight-bluegrey: #458588 !important;
        --theme-highlight-lightorange: #d65d0e !important;
        --theme-highlight-orange: #b8bb26 !important;
        --theme-highlight-red: #fb4934 !important;
        --theme-highlight-pink: #d3869b !important;
        --theme-highlight-yellow: #d79921 !important;
        --theme-highlight-purple: #b16286 !important;
    }

    .devtools-button[data-standalone] {
        font-size: 12px;
        font-family: "Fira Code", "Cascadia Code", "Ubuntu", "Microsoft Yahei UI" !important;
    }

    .tabs .tabs-menu-item a {
        font-size: 15px;
        font-family: "Ubuntu", "Fira Code", "Cascadia Code", "Microsoft Yahei UI" !important;
    }

    .network-monitor .http-custom-request-panel textarea {
        color: #d5c4a1;
        font-weight: normal;
        font-size: 15px !important;
        line-height: 16px !important;
        font-family: "Ubuntu", "Microsoft Yahei UI" !important;
    }

    .CodeMirror {
        font-size: 12px !important;
        font-family: "Fira Code", "Cascadia Code", "Ubuntu", "Microsoft Yahei UI" !important;
    }

    .devtools-tab-label {
        font-size: 15px !important;
        font-family: "Ubuntu", "Microsoft Yahei UI" !important;
    }
}

/* This is a temporal solution for white flash, which is a well-known bug in Firefox. */
html {
    background: #121212;
}

@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
    body {
        background-color: #121212 !important
    }
}